/* Header */
.large-header {
	/*position: relative;*/
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('~/Content/img/header.jpg');
}

.main-title {
	/*position: absolute;*/
	/*margin: 0;
	padding: 0;*/
	color: #f9f1e9;
	/*top: 50%;
	left: 50%;*/
	-webkit-transform: translate3d(0%,-90%,0);
	transform: translate3d(0%,-90%,0);
}

.canvas {
    visibility:hidden;
	-webkit-transform: translate3d(0%,0%,0);
	transform: translate3d(0%,0%,0);
}

.main-title .thin {
	font-weight: 200;
}

#ajaxSpinnerContainer {
	background-color: rgba(0, 0, 0, 0.85);
	display: none;
	height: 100%;
	left: 0px;
	/*opacity: 0.7;*/
	position: fixed;
	text-align: center;
	top: 0px; 
	width: 100%;
	z-index: 10000;
}

#ajaxSpinnerImage { 
	display:none; 
	height: 70px;
	left: 50%;
    /*background-color:rgba(0, 0, 0, 0.85);*/
	/* 1/2 of the height and width of the actual gif */
	margin: -16px 0 0 -16px;
	position: absolute;
	top: 50%;
	width: 70px;
	z-index: 10000;
}

.bodyImg {
    background: #fafafa url('../img/bg3.png');
    box-shadow: 0 1px 3px rgba(0,0,0,0.08) inset,0 -1px 3px rgba(0,0,0,0.08) inset;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}

.tellMeMore {
    display:none;
}
@media (min-width: 768px) {
   .tellMeMore {
    display: none;
    text-align:center;
  } 
}
@media (min-width: 992px) {
  .tellMeMore {
    display:block;
  }
}


@media (min-width: 768px) {
   .canvas {
    visibility:hidden;
  } 
}
@media (min-width: 992px) {
  .canvas {
    visibility:visible;
  }
}

.kslogo {
    display:block;
    width:200px; 
    height:50px;
    margin-top:-7%;
}

@media (min-width: 768px) {
   .kslogo {
    display: block;
    width:200px; 
    height:50px;
    margin-top:-7%;
  } 
}

@media (min-width: 992px) {
  .kslogo {
    display:block;
    width:250px; 
    height:50px;
    margin-top:-7%;
  }
}